
{% extends 'survey/teacher/teacherbase.html' %}
{% load widget_tweaks %}
{%load static%}
{% block content %}





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des Cours</title>
    <link rel="stylesheet" href="{% static 'css/tableau2.css' %}">
</head>


    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Resultats</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
            <!--<div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
               <div class="export__file-options">
                      <label>Export As &nbsp; &#10140;</label>
                      <label for="export-file" id="toPDF">PDF <img src="{% static 'image/images/pdf.png' %}" alt=""></label>
                      <label for="export-file" id="toJSON">JSON <img src="{% static 'image/images/json.png' %}" alt=""></label>
                      <label for="export-file" id="toCSV">CSV <img src="{% static 'image/images/csv.png' %}" alt=""></label>
                      <label for="export-file" id="toEXCEL">EXCEL <img src="{% static 'image/images/excel.png' %}" alt=""></label>
                   </div>

            </div> -->
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                       <th>Student <span class="icon-arrow">&UpArrow;</span></th>
                      <th>Exam Name <span class="icon-arrow">&UpArrow;</span></th>

                      <th>Total Marks <span class="icon-arrow">&UpArrow;</span></th>
                      <th>Attempt<span class="icon-arrow">&UpArrow;</span> </th>
                      <th>Exam Date <span class="icon-arrow">&UpArrow;</span></th>
                        <!-- <th> Amount <span class="icon-arrow">&UpArrow;</span></th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for t in results %}
                    <tr>
                      <td> {{t.student}} </td>
                      <td> {{t.exam}}</td>
                      <td> {{t.marks}}</td>
                      <td>Attemp {{ forloop.counter }}</td>
                      <td> {{t.date}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </section>
    </main>
    <script src="{% static 'js/tableau2.js' %}"></script>



{% endblock content %}