<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>




.last-div h2{
	text-align: center;
	padding-top: 40px;
	color: #1774d1;
	font-weight: 200;
}
.term{
    text-align: center;
	font-size: 12px;
	padding-left: 65px;
	padding-top: 5px;
	position: relative;
}
.never{
	padding-left: 15px;
	text-align: center;
	font-size: 12px;
	padding-top: 70px;
	font-weight: 400;

}
  </style>
</head>

<footer>

  <div class="last-div">
			<p class="never">Merci de nous avoir fait confiance et continuer d'utiliser notre site </p>
			<p class="term">Develloper et creer par le groupe SoftMas-Arm BY Armand Bak, Report Abuse - Term of Service - Private Policy, Pour Memoire</p>
			<h2>SoftMas</h2>
		</div>
</footer>

</html>
