<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/acceuill.css' %}" />
    <title>Web Design Mastery | Learning Landing Page</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo"><a href="#">Apprentissage</a></div>
      <ul class="nav__links">
        <!-- <li class="link"><a href="#">Home</a></li> -->
        <li class="link"><a href="#">About Us</a></li>
        <li class="link"><a href="#">Services</a></li>
       <!-- <li class="link"><a href="/aboutus">About Us</a></li>
        <li class="link"><a href="/contactus">Contact Us</a></li> -->
        <li class="link">
          <div  class="nav__link collapse ">

            <span class="nav__name collapse__link "><li class="link  "><a href="#">Registre</a></li></span>

            <ion-icon name="chevron-down-outline" id="accept" class="collapse__link"></ion-icon>

            <ul class="collapse__menu ">

                <li class="link">
                  <a href="/teacher/teacherlogin" id="teacher" class="collapse__sublink ">Teacher</a>
                </li>
                <li class="link">
                  <a href="/student/studentlogin" id="student" class="collapse__sublink ">Student</a></a>
                </li>
               <li class="link">
                <a href="/adminlogin" id="admin" class="collapse__sublink">Admin</a>
               </li>

            </ul>
        </div>
        </li>
      </ul>
    </nav>
    <section class="container">
      <div class="content__container">
        <h1>
          Meilleure plateforme <br />
          <span class="heading__1">d’éducation à l’apprentissage </span><br />
          <span class="heading__2">au monde</span>
        </h1>
        <p>
          Libérez votre plein potentiel d’apprentissage grâce à notre plateforme intuitive.
          Alliant harmonieusement technologie et éducation,
          nous offrons un environnement d’apprentissage immersif qui combine des  des classes virtuelles, des correction automatique et
          la fourniture des feedback.
        </p>
        <!-- <form>
          <input type="text" placeholder="What do you want to learn" />
          <button type="submit">Search Course</button>
        </form>
        -->
      </div>
      <div class="image__container">
        <img src="{% static 'image/assets1/femme.png' %}" alt="header" />
        <img src="{% static 'image/assets1/homme.png' %}" alt="header" />


      </div>
    </section>
    {% include "survey/footer.html" %}
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

        <!-- ===== MAIN JS ===== -->
    <script src="{% static 'js/acceuill.js' %}"></script>
  </body>

</html>




