/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #FFF;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: var(--bg-color);*/
  color: var(--white-color);
  padding: 1rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: var(--z-fixed);
}
.top-navbar .nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
.top-navbar .nav__logo {
  font-weight: 600;
}
.icon{
  color: black;
}

/*===== Top Navbar =====*/

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

.expander2{
  width: calc(var(--nav-width) + 9.25rem);
  transition: transform 0.5s ease, opacity 0.5s ease; /* Add transition */
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}
.body-pd-2{
  padding: 2rem 0 0 16rem;

}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}


/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

.blur {
  filter: blur(2px);
  transition: filter 0.3s ease;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  :root {
    --nav-width: 75px;  /* Adjust navigation bar width */
    --body-font-size: 0.9rem;  /* Adjust font size for smaller screens */
  }

  .l-navbar {
    padding: 1rem 1rem 1.5rem;  /* Adjust padding for smaller screens */
  }
  .nav__link {

    padding: 0.5rem;  /* Adjust link padding for smaller screens */
  }
  .nav__icon {
    font-size: 1.15rem;  /* Adjust icon size for smaller screens */
  }
  .nav__name {
    /*display: none;  /* Hide link text on smaller screens */
  }
   .home-section {
    margin-top: 4rem; /* Add margin to avoid overlap with top navbar */
  }

}

@media (max-width: 576px) {
  /* Styles for screens smaller than 576px */
  :root {
    --nav-width: 60px;  /* Adjust navigation bar width for very small screens */
  }
  body{
    padding: 2rem;
  }
  .l-navbar {
    padding: 0.75rem;
    width: calc(var(--nav-width) + 9.25rem);
     /* Add transition */
    display: none/* Adjust padding for very small screens */

  }
  .top-navbar{
    display: flex;
  }

  .nav__link {
    /* grid-template-columns: 1fr;  /* Stack icons and text vertically
    align-items: flex-start; /* Align text below icons */
  }
  .nav__icon {
    margin-bottom: 0.25rem;  /* Add spacing between icon and text */
  }
  .l-navbar .nav__toggle {
    display: none;  /* Add spacing between icon and text */
  }
   .home-section {
    margin-top: 4rem; /* Add margin to avoid overlap with top navbar */
  }
}
